<h1>New User</h1>
<%= form_tag :action => 'create' do %>

  <p><label for = "name">Name</label>:
    <%= text_field 'users', 'name' %>

  <p><label for = "lastname">Last Name</label>:
    <%= text_field 'users', 'lastname' %> <br><br>

  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Back', users_path(:name, :lastname) %>